services:
  project-manager:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: project_manager
    ports:
      - "8005:8005"
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DEBUG: "True"
      DB_NAME: project_db
      DB_USER: postgres
      DB_PASSWORD: password
      DB_HOST: project_postgres
      DB_PORT: 5432
      DJANGO_SETTINGS_MODULE: project_manager.settings
      PYTHONPATH: /app
      ALLOWED_HOSTS: localhost,127.0.0.1,project-manager,0.0.0.0,*,project-manager:8002,http://localhost:9090
      GATEWAY_URL: https://server1.prolianceltd.com
      AUTH_SERVICE_URL: http://auth-service:8001
      JOB_APPLICATIONS_URL: http://job-applications:8003
      NOTIFICATIONS_SERVICE_URL: http://app:3001
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      SUPABASE_BUCKET: ${SUPABASE_BUCKET}
      STORAGE_TYPE: supabase
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      CORS_ALLOWED_ORIGINS: http://localhost:5173,https://crm-frontend-react.vercel.app,https://technicalglobaladministrator.e3os.co.uk,https://loan-app-puce.vercel.app,https://e3os.ai,https://e3os.care,https://e3os.online,https://e3os.net,https://e3os.co.uk,http://localhost:8000,http://localhost:3000,http://127.0.0.1:3000
    volumes:
      - .:/app
      - ./logs:/app/logs
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    depends_on:
      project_postgres:
        condition: service_healthy
    networks:
      - auth_service_default

  project_postgres:
    image: postgres:15
    container_name: project_postgres
    environment:
      POSTGRES_DB: project_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_TIMEOUT: 300
    volumes:
      - project_postgres_data:/var/lib/postgresql/data
    # No external port mapping needed - accessed internally by project_manager
    networks:
      - auth_service_default
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d project_db -t 30"]
      interval: 10s
      timeout: 30s
      retries: 10
      start_period: 40s
    restart: unless-stopped

volumes:
  project_postgres_data:

networks:
  auth_service_default:
    external: true