# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Prisma
/prisma/migrations/
!/prisma/migrations/**/*.sql
/src/generated/prisma/

# Local development
.DS_Store
*.pem
*.log

# Build output
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo
